@using Ludo.ViewModels
@model PagingViewModel

@{
    int currentPage = Model.CurrentPage;
    int totalPages = Model.PageCount;
    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, currentPage + 2);
}
<div class="totalCountWrapper">
    تعداد کل: @Model.TotalCount
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(Model.Action, Model.Controller, new { page = currentPage - 1 })">قبلی</a>
        </li>

        @if (startPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action(Model.Action, Model.Controller, new { page = 1 })">1</a>
            </li>

            @if (startPage > 2)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }
        }

        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action(Model.Action, Model.Controller, new { page = i })">@i</a>
            </li>
        }

        @if (endPage < totalPages)
        {
            @if (endPage < totalPages - 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="@Url.Action(Model.Action, Model.Controller, new { page = totalPages })">@totalPages</a>
            </li>
        }

        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(Model.Action, Model.Controller, new { page = currentPage + 1 })">بعدی</a>
        </li>

    </ul>
</nav>
