@model Ludo.ViewModels.ReservationListViewModel
@using Ludo.Models
@using Ludo.Business

<div class="container mt-4">
    @if (!Model.IsArchive)
    {
        <div class="card">
            <div class="card-header">
                @(Model.NewReservation.Id > 0 ? "ویرایش رزرو" : "رزرو جدید")
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
            <div class="card-body">
                @using (Html.BeginForm("new", "reservations", HttpMethod.Post))
                {
                    @Html.Partial("_Result")
                    @Html.HiddenFor(x => x.NewReservation.Id)
                    <div class="form-floating mb-3 row">
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.NewReservation.ClientId, Model.NewReservation.Clients, new { @class = "form-select select2 rtl " })
                            @Html.LabelFor(model => model.NewReservation.ClientId)
                            <span asp-validation-for="NewReservation.ClientId" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.NewReservation.FromDate, new { htmlAttributes = new { @class = "form-control persianDatePicker" } })
                            @Html.LabelFor(model => model.NewReservation.FromDate)
                        </div>
                        <div class="col-md-2" style="margin-left: 0; padding-left: 0;">
                            @Html.TextBoxFor(m => m.NewReservation.FromTime, new { @class = "form-control", type = "time" })
                        </div>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.NewReservation.ToDate, new { htmlAttributes = new { @class = "form-control persianDatePicker" } })
                            @Html.LabelFor(model => model.NewReservation.ToDate)
                        </div>
                        <div class="col-md-2" style="margin-left: 0; padding-left: 0;">
                            @Html.TextBoxFor(m => m.NewReservation.ToTime, new { @class = "form-control", type = "time" })
                        </div>
                    </div>
                    <div class="form-floating mb-3 row">
                        <div class="col-md-6 form-floating">
                            @Html.ListBoxFor(model => model.NewReservation.StationIds, Model.NewReservation.Stations, new { multiple = "multiple", @class = "form-select select2 rtl" })
                            @Html.LabelFor(model => model.NewReservation.StationIds)
                            <span asp-validation-for="NewReservation.StationIds" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NewReservation.Games, "_Games")
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit">ثبت</button>
                }
            </div>
        </div>
    }
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-header">
            جستجو
        </div>
        <div class="card-body">
            @if (!Model.IsArchive)
            {
                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.SearchText)
                </div>

                <button class="btn btn-dark" onclick="ReservationPartialUpdate()">جستجو</button>
            }
            else
            {
                @using (Html.BeginForm("index", "reservations", HttpMethod.Post))
                {
                    <div class="form-floating mb-3">
                        @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.SearchText)
                    </div>

                    <button class="btn btn-dark" type="submit">جستجو</button>
                }
            }
        </div>
    </div>
    @Html.Partial("_ReservationList", Model)
    
</div>

@section Scripts {

}
