@model Ludo.ViewModels.ReservationListViewModel
@using Ludo.Models
@using Ludo.Business

<div class="container mt-4">
    <h4 class="mb-4">فهرست رزرو</h1>

    <div class="card" style="margin-bottom: 10px;">
        <div class="card-header">
            جستجو
        </div>
        <div class="card-body">
            @using (Html.BeginForm("index", "reservations", HttpMethod.Post))
            {
                <div class="form-floating mb-3">
                    @Html.EditorFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.SearchText)
                </div>

                <button class="btn btn-dark" type="submit">جستجو</button>
            }
        </div>
    </div>

        @if (!Model.IsArchive)
        {
            <div class="card">
                <div class="card-header">
                    @(Model.Reservation.Id > 0 ? "ویرایش رزرو" : "رزرو جدید")
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
                <div class="card-body">
                    @using (Html.BeginForm("new", "reservations", HttpMethod.Post))
                    {
                        @Html.Partial("_Result")
                        @Html.HiddenFor(x => x.Reservation.Id)
                        <div class="form-floating mb-3 row">
                            <div class="col-md-6">
                                <div class="row">
                                    @Html.DropDownListFor(model => model.Reservation.ClientId, Model.Reservation.Clients, new { @class = "form-select select2 rtl " })
                                    @Html.LabelFor(model => model.Reservation.ClientId)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    @Html.DropDownListFor(model => model.Reservation.StationId, Model.Reservation.Stations, new { @class = "form-select select2", onChange = "GetStationGames(this)" })
                                    @Html.LabelFor(model => model.Reservation.StationId)
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3 row">
                            <div class="col-md-6 row" style="margin-left: 0; padding-left: 0;">
                                <div class="col-md-6">
                                    @Html.EditorFor(m => m.Reservation.FromDate, new { htmlAttributes = new { @class = "form-control persianDatePicker" } })
                                    @Html.LabelFor(model => model.Reservation.FromDate)
                                </div>
                                <div class="col-md-6" style="margin-left: 0; padding-left: 0;">
                                    @Html.TextBoxFor(m => m.Reservation.FromTime, new { @class = "form-control", type = "time" })
                                </div>
                            </div>
                            <div class="col-md-6 row" style="margin-right: 0px;margin-left: 0; padding-left: 0;">
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Reservation.ToDate, new { htmlAttributes = new { @class = "form-control persianDatePicker" } })
                                    @Html.LabelFor(model => model.Reservation.ToDate)

                                </div>
                                <div class="col-md-6" style="margin-left: 0; padding-left: 0;">
                                    @Html.TextBoxFor(m => m.Reservation.ToTime, new { @class = "form-control", type = "time" })
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3" id="gamePickerWrapper">
                            @Html.EditorFor(model => model.Reservation.Games, "_Games")
                        </div>
                        <button class="btn btn-dark" type="submit">ثبت</button>
                    }
                </div>
            </div>
        }

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>موبایل</th>
                    <th>سیستم</th>
                    <th>بازی ها</th>
                    <th>از</th>
                    <th>تا</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Reservations != null && Model.Reservations.Any())
                {
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr class="@HelperMethods.GetReservationStatusStyleClass(HelperMethods.GetReservationStatus(reservation.From, reservation.To))">
                            <td>@reservation.Id</td>
                            <td>@reservation.Client.Firstname @reservation.Client.Lastname</td>
                            <td class="ltr">@reservation.Client.Mobile</td>
                            <td class="ltr">@reservation.Station.Title</td>
                            <td class="ltr">@(reservation.ReservationGames == null || !reservation.ReservationGames.Any() ? "انتخاب نکرده" : string.Join(" | ", reservation.ReservationGames.Select(x => x.Game.Title)))</td>
                            <td class="ltr">@HelperMethods.ConvertMiladiToShamsi(reservation.From, true)</td>
                            <td class="ltr">@HelperMethods.ConvertMiladiToShamsi(reservation.To, true)</td>
                                <td>@HelperMethods.GetReservationStatusTitle(HelperMethods.GetReservationStatus(reservation.From, reservation.To))</td>
                            <td>
                                <a href="@Url.Action("index", "home", new { id = reservation.Id })" class="btn btn-sm btn-primary me-1">
                                    <i class="bi bi-pencil-square"></i> ویرایش
                                </a>
                                <button class="btn btn-sm btn-danger" onclick="confirmDelete('@reservation.Id')">
                                    <i class="bi bi-trash"></i> حذف
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">هیچ رزروی یافت نشد.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>

       

    </script>
}
