@model Ludo.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "خانه";
    var user = Context.Items["User"] as User;
}

<div class="text-center">
    <h3>خوش آمدید</h3>
</div>

<script>
    var toastTrigger = document.getElementById('liveToastBtn');
    var toastLiveExample = document.getElementById('liveToast');

    if (toastTrigger) {
      toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample, {
      autohide: false
    });
        toast.show();
      });
    }
</script>


@if (user == null)
{
    @using (Html.BeginForm("login", "home", FormMethod.Post, null))
    {
        <div class="form-floating mb-3">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.Username)
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
            @Html.LabelFor(model => model.Password)
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">ورود</button>
    }
}
@if (user != null)
{
    <div class="container py-4">
        <ul class="nav nav-tabs" id="mainPageReservationsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="map-tab" data-bs-toggle="tab" data-bs-target="#mapTab" type="button" role="tab">
                    رزرو از نقشه
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#listTab" type="button" role="tab">
                    رزرو فرمی
                </button>
            </li>
        </ul>

        <div class="tab-content border border-top-0 p-3" id="reservationTabContent">
            <div class="tab-pane fade show active" id="mapTab" role="tabpanel">
                @Html.Partial("_MapSelector", Model.MapEdit)
            </div>
            <div class="tab-pane fade" id="listTab" role="tabpanel">
                @Html.Partial("_Reservations", Model.Reservations)
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var registerDraggable = false;
        var isInMainPage = true;
        function confirmDelete(userId) {
            if (confirm('آیا از حذف این رزرو مطمئن هستید؟')) {

                window.location.href = '@Url.Action("delete", "reservations")?id=' + userId;
            }
        }

    </script>
}